@charset "utf-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
  width: 100vw;
}
#maincontent {
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  position: fixed;
  width: 100%;
  height: 11vh;
  background-color: #252831;
  text-align:center;
  z-index: 1;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 11pt;
  line-height: 11vh;
  font-weight: 200;
  letter-spacing: 7px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 8px;
    list-style: none;
    background-color: #0275d8;
    font-size: 17px;
    margin: 11vh;
    width: 100%;
    height: 2vh;
    line-height: 2vh;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    color: black;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #fff;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
}
/* ====================== Map ====================== */
#map-container {
  position: fixed;
  height: 100vh;
  transition: 0s;
}
#map {
  width: 100vw;
  top: 11vh;
  height: 100%;
  background-color: #ccc;
  z-index: 0;
  transition: 0s;
}
/* ====================== Restaurant Filtering ====================== */
#filtering-bar {
  position: fixed;
  bottom: 0px;
  height: 9vh;
  z-index: 1;
}
.filter-options {
  width: 100%;
  background-color: #1F74AD;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.filter-options h2 {
  color: white;
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 9pt;
  height: 5vh;
  letter-spacing: 0;
  margin: 2vh;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  position: absolute;
  top: 100vh;
  width: 100vw;
  list-style: outside none none;
  margin: 0 0 10vh 0;
  display: flex;
  flex-flow: column;
}
#restaurants-list li {
  background-color: #fff;
  font-family: Arial,sans-serif;
  margin: 25px auto;
  min-height: 380px;
  text-align: center;
  width: 270px;
  box-shadow: 15px 15px 50px 2px #333;
  padding: 15px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #AD5700;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #AD5700;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  bottom: 0px;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 100vh;
  position: fixed;
  right: 0;
  width: 100vw;
  z-index: -1;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #AD5700;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 800;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  /* border-bottom: 1px solid #d9d9d9; */
  /* border-top: 1px solid #fff; */
  padding: 30px;
  margin-bottom: 30px;
}
#restaurant-container {
  background-color: #fdfdfd;
  text-align: center;
  margin-top: 80vh;
  display: flex;
  flex-flow: column;
  width: 70vw;
  box-shadow: 5px 5px 30px 2px #333;
}
#reviews-container {
  /* padding: 30px 40px 80px; */
  width: 70vw;
}
#reviews-container h2 {
  color: #AD5700;
  font-size: 24pt;
  font-weight: 600;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  box-shadow: 5px 5px 20px 1px #333;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
  font-size: 10pt;
}

/* ====================== Media Queries ====================== */

/* 
 * MAX 375px 
 */
 @media screen and (max-width: 375px) {
  nav h1 a {
    font-size: 9pt;
    letter-spacing: 8px;
  }
  .filter-options select {
    font-size: 9pt;
    height: 6vh;
    margin: 10px 5px;
    padding: 5px;
    width: 100vw;
  }
  #reviews-list li p {
    font-size: 1.1em;
  }
}

/* 
 * MIN 500px 
 */
@media screen and (min-width: 500px) {
  nav h1 a {
    font-size: 13pt;
    letter-spacing: 10px;
  }

  .filter-options {
    align-items: center;
    justify-content: flex-start;
  }

  #restaurants-list {
    top: 10vh;
    width: 100vw;
    right: 1vw;
  }

  #restaurants-list li{
    margin: 25px 20px 0px auto;
  }
}